/* ---- global default values ---- */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  /* ---- global variables ---- */

  --primary-btn-bg-color: #ffffff;
  --primary-btn-color: hsl(191, 95%, 42%);
  --bg-color: hsl(191, 77%, 81%);
  --btn-floating-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.06);

  /* ---- global variables END ---- */


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--bg-color);
}

/* ---- global default values END ---- */

/* ---- global re-useable classes ---- */

.center-child {
  display: flex;
  justify-content: center;
}

.btn {
  background: var(--primary-btn-bg-color);
  color: var(--primary-btn-color);
  margin: 1.3rem;
  border: transparent;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 0.375rem 0.75rem;
  box-shadow: var(--btn-floating-shadow);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 20px;
}

.btn:hover {
  background: var(--primary-btn-color);
  color: var(--primary-btn-bg-color);
}

.long-btn {
  padding: 0.1rem 0.75rem;
  height: 40px;
}

.bg-switch {
  background: var(--primary-btn-color);
  color: var(--primary-btn-bg-color);
  box-shadow: var(--btn-floating-shadow);
}

.bg-switch:hover {
  box-shadow: none;
}

.floating-btn {
  border-radius: 50%;
  text-align: center;
  font-size: 0.70rem;
  text-transform: uppercase;
  width: 59px;
  height: 59px;
  box-shadow: var(--btn-floating-shadow);
}

/* ---- global re-useable classes END ---- */

/* ---- HERO COMPONENT ---- */

.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 100%;
}



/* ---- HERO COMPONENT ENDS ---- */

/* ---- ADD RECIPE COMPONENT ---- */

.add_recipe_container {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  padding: 20px;
  overflow-y: scroll;
}

.add_recipe_container::-webkit-scrollbar {
  display: none;
}

.add_recipe_container h4 {
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  color: rgb(245, 0, 0);
}

.add_recipe_container .input_row {
  display: flex;
  flex-direction: column;
  margin: 30px 0 60px 0;
}

.add_recipe_container .input_row label {
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(191, 100%, 24%);

}

.add_recipe_container .input_row input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.454);
  color: rgb(0, 0, 0);
  padding: 0.275rem 0.75rem;
  font-size: 1.5rem;
}

.add_recipe_container .input_row input::placeholder {
  color: rgba(60, 60, 60, 0.276);
}

.add_recipe_container .input_row .name-label {
  color: black;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

.add_recipe_container .input_row .name-input {
  border: none;
  box-shadow: var(--btn-floating-shadow);
}

.footer_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ----- Dialog ----- */

dialog {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.597);
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal h3 {
  font-size: 2rem;
  margin: 20px
}

.modal textarea {
  width: 90%;
  height: 50%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: var(--bg-color);
  font-size: 16px;
  resize: none;
}

.modal .close-icon {
  position: absolute;
  font-size: 3rem;
  color: red;
  top: 10px;
  right: 10px;
}


/* ----- Dialog End ----- */

/* ---- ADD RECIPE COMPONENT END---- */

/* ----- SHOW RECIPES COMPONENT ----- */

.recipes_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;

}

.float-left-bottom {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.recipes_container .list_of_recipes {
  width: 90%;
  /* height: 90%; */
  margin: 20px;
  background: white;
  overflow: scroll;
  box-shadow: var(--btn-floating-shadow);
  border-radius: 10px;
}

.recipes_container .list_of_recipes::-webkit-scrollbar {
  display: none;
}

.recipes_container .reload {
  height: auto;
}

.single_recipe_container {
  list-style: none;
  height: auto;
  margin: 20px;
}

.single_recipe_container .selected {
  /* background: #00c2d823; */
}

.single_recipe_container .single_recipe {}

.single_recipe_container .single_recipe .single_recipe_header {
  display: flex;
  align-items: center;
  box-shadow: var(--btn-floating-shadow);
}

.single_recipe_container .single_recipe .single_recipe_header .arrow_icon {
  margin-right: 15px;
  font-size: 2rem;
  color: var(--primary-btn-color)
}

.single_recipe_container .single_recipe .single_recipe_header h5 {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.single_recipe_container .single_recipe .ingredients_list_container {
  /* overflow: scroll; */
  transition: 0.5s ease-in-out all;
}

.single_recipe_container .single_recipe .ingredients_list {
  margin: 10px 0px 0px 12%;
}

.single_recipe_container .single_recipe .ingredients_list h4 {
  font-size: 1.4rem;
  color: rgba(3, 3, 3, 0.354);
}

.single_recipe_container .single_recipe .ingredients_list .single_ingredient {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 10px;

}

.single_recipe_container .single_recipe .ingredients_list .single_ingredient .bullet_icon {
  font-size: 0.7rem;
  color: rgba(6, 145, 152, 0.419);
  margin-right: 10px;
}


.single_recipe_container .single_recipe .ingredients_list .description {
  letter-spacing: 0.2rem;
  line-height: 2rem;
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.608); */
  overflow-wrap: break-word;
  color: black;
  padding: 10px;
  height: 100%;
}

.single_recipe_container .single_recipe .ingredients_list .description span {
  color: rgba(3, 3, 3, 0.354);
  font-size: 1.4rem;
}

.single_recipe_container .single_recipe .ingredients_list .description_toggle {
  font-size: 0.7rem;
  text-transform: uppercase;
  background: rgba(135, 206, 28, 0.413);
  color: black;
}

.single_recipe_container .single_recipe .ingredients_list .description_toggle_hide {
  background: rgba(206, 55, 28, 0.413);

}

/* ----- SHOW RECIPES COMPONENT END ----- */



@media (min-width: 600px) {

  :root {
    font-size: 16px;
  }

  .btn-reshape {
    font-size: 2rem;
  }

  .add_recipe_container .input_row {
    align-items: center;
  }

  .add_recipe_container .input_row input {
    width: 400px;
  }

  .buttons_container {
    width: 500px;
  }

  .floating-btn {
    border-radius: 10px;
    text-align: center;
    font-size: 0.70rem;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    box-shadow: var(--btn-floating-shadow);
  }

  .long-btn {
    font-size: 1rem;
  }

  dialog {
    width: 500px;
    height: 500px;
    background-color: white
  }

  .recipes_container .list_of_recipes {
    width: 70%;
  }

  .single_recipe_container .single_recipe .ingredients_list {
    margin: 10px 0px 0px 3%;
  }

}